<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography | Charlie Mark Crutcher</title>
    <meta name="description" content="Charlie's photography page">
    <meta name="keywords" content="HTML,CSS,JavaScript,Python,Discord.py,Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <!-- ===== DESKTOP NAVBAR ===== -->
        <ul>
            <li><a href="{{ url_for('workouts')}}">BACK</a></li>
            <li class="hideOnMobile">
                <a href="{{ url_for('index')}}">HOME</a>
            </li>
        </ul>
        <!-- ===== MOBILE NAVBAR (SIDEBAR) ===== -->
        <ul class="sidebar">
            <li onclick="hideSidebar()"><a style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#3C3D37"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li>
                <a href="{{ url_for('index')}}">HOME</a>
            </li>
        </ul>
    </nav>

    <div class="myBody">
        <h1>Push Day</h1>
        <br>
        <!-- Exercise 1 Table -->
        <div class="workoutBody">
            <h2 class>1: Chest</h2>
            <table>
                <!-- Table Row 1 -->
                <tr>
                    <td>
                        <div class="custom-select">
                            <select>
                                <option value="Bench Press">Bench Press</option>
                                <option value="Chest Press">Chest Press</option>
                                <option value="Incline Bench Press">Incline Bench Press</option>
                                <option value="Dumbbell Bench Press">Dumbbell Bench Press</option>
                            </select>
                        </div> 
                    </td>
                    <th>
                        <p class="tableP">Set 1</p>
                    </th>
                    <th>
                        <p class="tableP">Set 2</p>
                    </th>
                    <th>
                        <p class="tableP">Set 3</p>
                    </th>
                </tr>

                <!-- Table Row 2 -->
                <tr>
                    <th>
                        <p class="tableP">Weight (kg)</p>
                    </th>
                    <td>
                        <div class="workoutNumber">
                            <input type="number" min=0 max=500 step="1" data-inc="1">
                        </div>
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max=500>
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max=500>
                    </td>
                </tr>

                <tr>
                    <th>
                        <p class="tableP">Reps</p>
                    </th>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                </tr>

                <tr>
                    <td colspan="100">
                        <div class="custom-submit">
                            <input type="submit" value="Submit">
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        <br>
        <!-- Exercise 2 Table-->
        <div class="workoutBody">
            <h2 class>2: Front Delts</h2>
            <table>
                <!-- Table Row 1 -->
                <tr>
                    <td>
                        <div class="custom-select">
                            <select>
                                <option value="Shoulder Press Machine">Shoulder Press Machine</option>
                                <option value="Dumbbell Shoulder Press">Dumbbell Shoulder Press</option>
                                <option value="Military Press">Military Press</option>
                                <option value="Cable Front Raises">Cable Front Raises</option>
                            </select>
                        </div> 
                    </td>
                    <th>
                        <p class="tableP">Set 1</p>
                    </th>
                    <th>
                        <p class="tableP">Set 2</p>
                    </th>
                    <th>
                        <p class="tableP">Set 3</p>
                    </th>
                </tr>

                <!-- Table Row 2 -->
                <tr>
                    <th>
                        <p class="tableP">Weight (kg)</p>
                    </th>
                    <td>
                        <div class="workoutNumber">
                            <input type="number" min=0 max=500 step="1" data-inc="1">
                        </div>
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max=500>
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max=500>
                    </td>
                </tr>

                <tr>
                    <th>
                        <p class="tableP">Reps</p>
                    </th>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                </tr>

                <tr>
                    <td colspan="100">
                        <div class="custom-submit">
                            <input type="submit" value="Submit">
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        <br>
        <!-- Exercise 3 Table-->
        <div class="workoutBody">
            <h2 class>3: Side Delts</h2>
            <table>
                <!-- Table Row 1 -->
                <tr>
                    <td>
                        <div class="custom-select">
                            <select>
                                <option value="Cable Lat Raises">Cable Lat Raises</option>
                                <option value="Dumbbell Lat Raises">Dumbbell Lat Raises</option>
                            </select>
                        </div> 
                    </td>
                    <th>
                        <p class="tableP">Set 1</p>
                    </th>
                    <th>
                        <p class="tableP">Set 2</p>
                    </th>
                    <th>
                        <p class="tableP">Set 3</p>
                    </th>
                </tr>

                <!-- Table Row 2 -->
                <tr>
                    <th>
                        <p class="tableP">Weight (kg)</p>
                    </th>
                    <td>
                        <div class="workoutNumber">
                            <input type="number" min=0 max=500 step="1" data-inc="1">
                        </div>
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max=500>
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max=500>
                    </td>
                </tr>

                <tr>
                    <th>
                        <p class="tableP">Reps</p>
                    </th>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                </tr>

                <tr>
                    <td colspan="100">
                        <div class="custom-submit">
                            <input type="submit" value="Submit">
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        <br>
        <!-- Exercise 3 Table-->
        <div class="workoutBody">
            <h2 class>4: Triceps</h2>
            <table>
                <!-- Table Row 1 -->
                <tr>
                    <td>
                        <div class="custom-select">
                            <select>
                                <option value="Cable Lat Raises">Cable Lat Raises</option>
                                <option value="Dumbbell Lat Raises">Dumbbell Lat Raises</option>
                            </select>
                        </div> 
                    </td>
                    <th>
                        <p class="tableP">Set 1</p>
                    </th>
                    <th>
                        <p class="tableP">Set 2</p>
                    </th>
                    <th>
                        <p class="tableP">Set 3</p>
                    </th>
                </tr>

                <!-- Table Row 2 -->
                <tr>
                    <th>
                        <p class="tableP">Weight (kg)</p>
                    </th>
                    <td>
                        <div class="workoutNumber">
                            <input type="number" min=0 max=500 step="1" data-inc="1">
                        </div>
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max=500>
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max=500>
                    </td>
                </tr>

                <tr>
                    <th>
                        <p class="tableP">Reps</p>
                    </th>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                    <td>
                        <input type="number" id="quantity" name="quantity" min=0 max="20">
                    </td>
                </tr>

                <tr>
                    <td colspan="100">
                        <div class="custom-submit">
                            <input type="submit" value="Submit">
                        </div>
                    </td>

                </tr>
            </table>
        </div>
        
    </div>
    <script src="../static/js/scripts.js">Hello</script>
</body>
</html>